body {
    background-color: 	#141414;
    display: grid;
    place-items: center; /* Centers horizontally and vertically */
    height: 100vh;       /* Full viewport height */
    margin: 0;  
  }
  
  h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    
  }

image{
  border-radius: 20px;
}
p{
color: white;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
